body {
    background-image: url('dark_wood.png');
    opacity: 0.3;
    background-repeat: no-repeat;
}

a {
    color: green;
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

div {
    background-color: #8E25D5;
}


p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

#Header {
    width: 500px;
}

#Header h1{
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold; 
}

#Header, #LeftNav, #Content, #Footer{
    text-align: center;
    border: solid 10px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-style: dotted dashed
}

#LeftNav {
    width: 400px; 
    padding-bottom: 8px;
    float: right;
}
#Content {
    width: 700px;
    padding: 15px;
}

#Content p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Content img {
    border-radius: 10%;
    border-width: 4px;
    border-color: black;
    border-style:dashed;
}
